<!-- templates/app/recycling_education.html -->

{% extends 'base.html' %}

{% block content %}
<h1>Recycling Education</h1>
<p>Welcome to the recycling education section. Here, you can find resources to learn more about the importance of recycling and how you can contribute.</p>

<p> There is plastic all around us. From soda bottles, grocery bags, to your ID card, even in your clothes! We use plastic every day even when we don’t know it. Many of these plastics come from materials like petrochemicals. The amount of plastic around us can have advantages and disadvantages.

    Plastic in of itself isn’t necessarily harmful, but when disposed of improperly or overproduced, it can cause litter and pollution in the environment.  These effects can put human beings and the environment in danger. It is thus reasonable to reuse and reprocess plastic to prevent waste.
    
    For this reason, plastic recycling should be an essential procedure in the production of plastic. Do you wonder what it means to recycle plastic or how recycling occurs?
    
    This article answers all your questions. We show you how plastic is recycled and why recycling is good for humans and nature.
    
    Plastic recycling is the method of gathering waste plastic and reconverting them to new and useful plastic products. The world produces and makes use of more than a trillion pounds of plastic material. Plastic recycling ensures that this massive amount of plastic does not go to waste. Instead, you can reprocess the materials to get other products</p>

<!-- Example link to an external resource -->
<a href="www.ema.co.zw" target="_blank">Learn More About Recycling</a>

<p>

    Guess what. Most of the plastic we come across in our daily life are recyclable. But that doesn’t mean that they are actually recycled. They can be recycled but often times are not because of the capability of local recycling programs. You see not all recycling programs and facilities are made equally, and some cities or towns have facilities that recycle more types of plastics than others. That’s why it’s important to know exactly what recycling is done in your area because if not you might unknowingly be contaminating your recyclables! 
    
    In a perfect world, or in a world when Recyclops does all the recycling… we will be able to recycle all types of plastic.
    
    Here are some of the most common plastic types that you can recycle.
    </p>

{% endblock %}
